In [1]:
import pandas as pd
import numpy as np
import os 
import string
import nltk

In [2]:
data=pd.read_csv('./Data-clean/Jan-Oct-2020.csv')

In [3]:
data.head()

,tweets_Date,tweets_Text,tweets_Replies,tweets_Retweets,tweets_Likes,tweets_Images,tweets_imageURL,tweets_hrefURL,has_image,has_Link
0,May 31,"Christo Vladimirov Javacheff, who was known fo...",78,550,1.3K,https://pbs.twimg.com/card_img/131806582330352...,https://pbs.twimg.com/card_img/131806582330352...,https://t.co/9q6wacWKB4?amp=1,1,1
1,May 31,More than 20 cities have imposed curfews Sunda...,238,353,1.2K,NaN,NaN,NaN,0,0
2,May 31,US astronauts Robert Behnken and Douglas Hurle...,86,447,2.5K,https://pbs.twimg.com/card_img/132048087789858...,https://pbs.twimg.com/card_img/132048087789858...,https://t.co/M3EG7HCrwa?amp=1,1,1
3,May 31,Trump announces the US will designate Antifa a...,1.3K,1.2K,2.9K,https://pbs.twimg.com/media/EZXQPESX0AINUrY?fo...,NaN,NaN,1,0
4,May 31,NASA astronauts aboard the SpaceX Crew Dragon ...,60,464,2.6K,https://pbs.twimg.com/card_img/132048087789858...,https://pbs.twimg.com/card_img/132048087789858...,https://t.co/8Ha47dImYV?amp=1,1,1

In [4]:
from nltk.corpus import stopwords

In [5]:
def text_cleaning(data):
    #lower case
    data['tweets_Text']=data['tweets_Text'].str.lower()
    #data.head()
    
    #remove punctuation
    punc_to_remove=string.punctuation
    def remove_punctuation(text):
        return text.translate(str.maketrans('', '', punc_to_remove))
    data['tweets_Text'] = data['tweets_Text'].apply(lambda text: remove_punctuation(text))
    #data.head()
    
    #remove stop words
    ", ".join(stopwords.words('english'))
    STOPWORDS = set(stopwords.words('english'))
    def remove_stopwords(text):
        return " ".join([word for word in str(text).split() if word not in STOPWORDS])

    data['tweets_Text'] = data['tweets_Text'].apply(lambda text: remove_stopwords(text))
    #data.head()
    return data

In [6]:
data=text_cleaning(data)

In [7]:
data.head()

,tweets_Date,tweets_Text,tweets_Replies,tweets_Retweets,tweets_Likes,tweets_Images,tweets_imageURL,tweets_hrefURL,has_image,has_Link
0,May 31,christo vladimirov javacheff known monumental ...,78,550,1.3K,https://pbs.twimg.com/card_img/131806582330352...,https://pbs.twimg.com/card_img/131806582330352...,https://t.co/9q6wacWKB4?amp=1,1,1
1,May 31,20 cities imposed curfews sunday night respons...,238,353,1.2K,NaN,NaN,NaN,0,0
2,May 31,us astronauts robert behnken douglas hurley su...,86,447,2.5K,https://pbs.twimg.com/card_img/132048087789858...,https://pbs.twimg.com/card_img/132048087789858...,https://t.co/M3EG7HCrwa?amp=1,1,1
3,May 31,trump announces us designate antifa terrorist ...,1.3K,1.2K,2.9K,https://pbs.twimg.com/media/EZXQPESX0AINUrY?fo...,NaN,NaN,1,0
4,May 31,nasa astronauts aboard spacex crew dragon spac...,60,464,2.6K,https://pbs.twimg.com/card_img/132048087789858...,https://pbs.twimg.com/card_img/132048087789858...,https://t.co/8Ha47dImYV?amp=1,1,1